{cover_enabled, true}.
{edoc_opts, [{dir, "doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{lib_dirs, ["deps"]}.
{erl_opts, [{parse_transform, lager_transform}, debug_info, warnings_as_errors]}.
{deps,
 [
  {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
  {jsx, ".*", {git, "http://github.com/talentdeficit/jsx.git", {tag, "v1.4.4"}}},
  {jsxd, ".*", {git, "https://github.com/Licenser/jsxd.git", {tag, "0.1.9"}}}
 ]}.
